body{
    font-family: 'Josefin Sans', sans-serif;
    margin: -90px;
    color: ttorgb(179, 255, 0);
    position: 8px;
}
.fast{
    color: green;
    text-align: center;
}
.second{
    color: red;
    text-align: center;
}
.tree{
    text-align: center;

}
section{
    display: flex;
    margin-bottom: 100%;
    margin: 5.6%;
}

.half-withd{
    width: 50%;
    padding: 8%;
    font-weight: 400;
}
.half-withd img{
    width: 135%;
    margin-bottom: 8%;

}
.link-batton{    
    text-decoration: none;
       background-image: linear-gradient(red green);   

    background-color:orange;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 1.3em;
  
}
.top-bannar{
    background-image: url(pexels-johannes-plenio-1103970.jpg);
    background-repeat: no-repeat;
}
.half-with img{
    
    width: 60%;
    margin-bottom: 90%;
    padding: -40%;
    margin: 10%;
}
